@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Play around with Pageable lists</h1>
    <div class="list-unstyled text-center">
        <a asp-controller="Home" asp-action="Pets" class="btn btn-info mr-5">Pets</a>
        <a asp-controller="Home" asp-action="People" class="btn btn-info">People</a>
    </div>
</div>
