@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Play around with Pageable lists</h1>
    <div class="list-unstyled text-center">
        <a asp-controller="Home" asp-action="Pets" class="btn btn-info mr-5"><i class="fas fa-cat mr-2"></i> Pets</a>
        <a asp-controller="Home" asp-action="People" class="btn btn-info"><i class="fas fa-user mr-2"></i> People</a>
    </div>

    <p class="mt-5">
        Click on a button above to view a paged list of data items.
    </p>
</div>
