@model PaginatedList<Person>

@{
    ViewData["Title"] = "People";
}

<div class="container">
    <h1 class="display-4">
        <i class="fas fa-user"></i>
        @ViewData["Title"]
    </h1>

    <hr />

    <div class="my-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-backward"></i> Home
        </a>
    </div>

    <hr />

    <vc:filter action="people"></vc:filter>

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <vc:card thing="@item"></vc:card>
        }
    </ul>

    <vc:pager pageable="@Model"></vc:pager>
</div>
