@model PaginatedList<Pet>

@{
    ViewData["Title"] = "Pets";
}

<div class="container">
    <h1 class="display-4">
        <i class="fas fa-cat"></i>
        @ViewData["Title"]
    </h1>

    <hr />

    <div class="my-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-backward"></i> Home
        </a>
    </div>

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <span class="badge badge-primary badge-pill mr-2">@item.Id</span>
                @item.Name
            </li>
        }
    </ul>

    <vc:pager pageable="@Model"></vc:pager>
</div>