@model string

<div class="my-2">
    <span class="mr-3">Filters: </span>
    <a asp-controller="Home" asp-action="@Model" asp-route-page="1" class="btn btn-info mr-2">All</a>
    <a asp-controller="Home" asp-action="@Model" asp-route-page="1" asp-route-orderBy="evens" class="btn btn-info mr-2">Evens</a>
    <a asp-controller="Home" asp-action="@Model" asp-route-page="1" asp-route-orderBy="odds" class="btn btn-info">Odds</a>
</div>